// styles

body {
    background-color: var(--Ivory_White);
}
main {
    // padding: 0 50px;
}

// -------- title -------------
header {
    display: flex;
    justify-content: center;
}
#title {
    position: relative;
    width: auto;
    margin: 0 auto;
    margin-bottom: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 200px;


    #circles {
        position: absolute;
        display: flex;
        align-items: center;
        height: 50%;
        z-index: -1;

        svg {
            height: 100%;
        }
    }

    h1 {
        font-size: 25px;
        font-family: var(--montserrat-bold);
        font-weight: bold;
        color: var(--bleu-fonce);

        margin: 0;
        margin-left: 50px;
        margin-bottom: -20px;
    }
}

@media (max-width: 500px) {
    #title {
        height: 130px;

        h1 {
            font-size: 20px;
            margin-left: 30px;
            margin-bottom: -10px;
        }
    }
}

// ------- 2 by 2 blocks -----
.about-el {
    width: 100%;
    padding: 60px 50px;
    // padding-bottom: 120px;

    display: flex;
    justify-content: space-between;
    align-items: center;


    .about-el-img {
        width: 40%;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .about-el-txt {
        width: 60%;
        align-self: stretch;
        margin-left: 100px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        // background-color: green;

        h2 {
            font-size: 28px;
            font-family: var(--montserrat-semibold);
            text-align: center;
            // color: #101E48;
            color: var(--bleu-fonce);

            margin-top: 0;
            margin-bottom: 50px;
        }

        p {
            font-family: var(--montserrat-regular);
            font-size: 18px;
            line-height: 35px;

            color: var(--black);

            margin: 0;
        }
    }

    #about-nom {
        font-size: 35px;
        color: var(--noir-bleu);
    }
}
.reverse {
    flex-direction: row-reverse;
    background-color: var(--blanc-casse);

    .about-el-txt {
        margin-left: 0;
        margin-right: 100px;
    }
}

.pb-50 {
    padding-bottom: 75px;
}

@media (max-width: 800px) {
    #title {
        margin-bottom: 30px;
    }
    .about-el {
        flex-direction: column;
        padding: 50px 20px;
        padding-top: 60px;

        .about-el-img {
            width: 100%;
            max-width: 400px;
            margin: 0 auto !important;
        }
        
        .about-el-txt {
            width: 100%;
            margin: 0 auto !important;

            h2 {
                font-size: 25px;
                margin: 40px 0;
            }

            
            #about-nom {
                font-size: 30px;
            }
        }
    }

    .reverse {
        flex-direction: column;
    }

    .pb-50 {
        padding-bottom: 50px;
    }
}



// ------------------------- TESTIMONIALS -----------------------------

#testimonials-big-container {
    width: 100%;

    padding: 60px 0;

    overflow-x: hidden;

    background-color: var(--blanc-casse);
}

#testimonials-container {
    width: 100%;
    margin: 0 auto;
}

#testimonials-title {
    width: 100%;
    margin-bottom: 40px;
    padding: 0 50px;

    h1 {
        width: 100%;
        margin: 0;

        font-size: 35px;
        text-align: center;

        font-family: var(--montserrat-bold);
        color: var(--noir-bleu);
    }
}

#testimonials {
    position: relative;
}

#testimonials-total {
    width: 300%;
    padding: 40px 0;

    position: absolute;
    
    display: flex;
    align-items: start;
}

.testimonial {
    opacity: 0;

    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;

    // background-color: var(--bleu-tres-clair);
}

.testimonial-content {
    q {
        font-size: 18px;
        font-family: var(--montserrat-regular);
        // font-weight: bold;
        // font-style: italic;

        letter-spacing: 1px;
        line-height: 35px;

        color: var(--black)
    }
}

.testimonial-name {
    width: 100%;
    padding-top: 50px;

    i {
        display: block;
        width: 100%;
        text-align: end;

        font-size: 18px;
        font-style: italic;
        color: var(--black)
    }
}

#testimonials-buttons {
    height: 30px;
    width: 200px;

    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    // img {
    //     height: 100%;
    // }
    p {
        font-size: 30px;
        font-weight: bold;
        color: var(--bleu-fonce);

        cursor: pointer;
    }
}

@media (max-width: 900px) {
    #testimonials-big-container {
        padding: 50px 0;

        #testimonials-container {
            .testimonial {
                padding: 0 20px;
            }
        }
    }
    #testimonials-title {
        padding: 0 20px;
    }
}


@media (max-width: 550px) {
    
    #testimonials-title {
        margin-bottom: 10px;

        h1 {
            font-size: 30px;
        }
    }
    // .testimonial-content q {
    //     font-size: 16px;
    //     line-height: 30px;
    // }
    // .testimonial-name i {
    //     font-size: 12px;
    // }
    #testimonials-buttons {
        p {
            font-size: 50px;
        }
    }
}

// animation
@keyframes visible {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}






// vars

:root {
    /* colors */

    --white: #D8D8D8;
    --Ivory_White: #FDFDFD;
    --black: #4d504a;

    --noir-bleu: #002845;
    --blanc-casse: #F8F9FC;

    --bleu-fonce: #1E3E89;
    --bleu-gris: #CDDBF4;
    --bleu-clair: #E6FBFF;

    --vert-medical: #1ABAB9;


	--Charcoal_Gray: #333333;

	--grey_border: #e1e1e1;
	--grey: #84847C;


    /* fonts */
    --multi: Multi;

    --montserrat-medium: Montserrat-Medium;
    --montserrat-regular: Montserrat-Regular;
    --montserrat-light: Montserrat-Light;
    --montserrat-semibold: Montserrat-SemiBold;
    --montserrat-bold: Montserrat-Bold;
    --montserrat-extrabold: Montserrat-ExtraBold;

    --nobia-regular: Nobia-regular;
    --pacifico: Pacifico;
    --poppins-md: PoppinsMd;
}