// styles
body {
    background-color: var(--blanc-casse);
}

#bg-color {
    height: 100dvh;
    width: 100vw;
    position: fixed;
    object-fit: cover;

    z-index: -100;
}

main {
    height: calc(100svh - 70px);
    padding: 20px 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}


//--------------------- emploi details------------------------
#emploi {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 60%;

    margin-right: 20px;
    padding: 20px 0;
    padding-left: 30px;

    border-radius: 20px;
    background-color: var(--bleu-gris);
}

#emploi-title-container {
    width: 100%;
    height: 40px;

    padding-right: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    // background-color: red;


    #emploi-title {
        margin: 0;

        font-size: 30px;
        font-family: var(--montserrat-semibold);

        color: var(--bleu-fonce);
        // background-color: green;
    }

    #emploi-buttons {
        height: 25px;
        // width: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;


        // background-color: green;

        #emploi-mail, #emploi-share {
            height: 100%;
            // background-color: blue;

            svg {
                height: 100%;
                aspect-ratio: 1/1;
                cursor: pointer;
            }
        }
        #emploi-mail {
            margin-right: 30px;
        }
    }
}

#emploi-infos {
    display: flex;
    justify-content: space-between;

    margin: 30px 0;
    margin-right: 30px;

    border-top: 1px black solid;
    border-bottom: 1px black solid;

    // background-color: green;

    .emploi-info-part {
        width: 50%;
        padding-left: 14px;
        margin: 20px 0;

        li {
            font-size: 15px;
            font-family: var(--montserrat-semibold);

            color: black;
        }
    }

    #emploi-infos-sep {
        width: 40px;
        // background-color: blue;
    }
}

#description-mobile {
    display: none;
    margin-top: -10px;
    margin-right: 30px;
    padding-bottom: 20px;
    border-bottom: 1px black solid;

    h3 {
        font-size: 15px;
        font-family: var(--montserrat-semibold);
        color: var(--bleu-fonce);

        margin: 0;
        margin-bottom: 10px;
    }

    p {
        font-size: 14px;
        font-weight: normal;
        font-family: var(--montserrat-medium);
        color: black;
        margin: 0;
    }
}

#emploi-details {
    flex-grow: 1;
    margin-right: 20px;
    overflow-y: scroll;

    // background-color: red;

    .emploi-details-part {
        width: 100%;
        padding-right: 10px;
        padding-bottom: 30px;
        // background-color: blue;

        p {
            font-size: 15px;
            font-family: var(--montserrat-semibold);
            color: var(--bleu-fonce);

            margin: 0;
            margin-bottom: 10px;
        }

        ul {
            padding-left: 14px;
            margin: 0;

            li {
                font-size: 14px;
                font-family: var(--montserrat-medium);
                color: black;
            }
        }
    }
}

#emploi-details::-webkit-scrollbar {
    background-color: var(--bleu-gris);
    width: 12px;
}
#emploi-details::-webkit-scrollbar-thumb {
    background: var(--bleu-fonce); 
}



// ----------------------description-----------------------
#description {
    height: 100%;
    width: 40%;

    padding: 20px 0;
    padding-left: 30px;

    border-radius: 20px;
    background-color: var(--bleu-gris);
}

#description-title {
    margin: 0 auto;
    height: 40px;
    padding-right: 30px;


    font-size: 30px;
    font-family: var(--montserrat-semibold);
    text-align: center;

    color: var(--bleu-fonce);

    // background-color: blue;
}

#description-text-container {
    height: calc(100% - (40px + 35px + 40px));
    overflow-y: scroll;
    margin: 20px 0;
    margin-right: 20px;
    
    // background-color: violet;
}
#description-text-container::-webkit-scrollbar {
    background-color: var(--bleu-gris);
    width: 12px;
}
#description-text-container::-webkit-scrollbar-thumb {
    background: var(--bleu-fonce); 
}

.description-text {
    margin: 0 auto;

    padding-right: 10px;

    font-size: 16px;
    font-family: var(--montserrat-medium);

    word-spacing: 4px;
    letter-spacing: 0.1px;

    color: black;

    // background-color: green;
}

.emploi-description-button-container {
    width: 100%;
    padding-right: 30px;

    // background-color: green;


    .emploi-description-button {
        display: flex;
        align-items: center;
        cursor: pointer;

        margin: 0 auto;

        height: 35px;
        padding: 0 40px;
        // padding: 10px 40px;

        border: none;
        border-radius: 30px;

        font-family: var(--montserrat-regular);
        letter-spacing: 0.5px;

        color: var(--Ivory_White);
        background-color: var(--bleu-fonce);
    }
}

#button-mobile-container {
    display: none;
}


@media (max-width: 850px) or (max-height: 600px) {
    main {
        display: block;
        height: auto;
        padding: 20px 0;
    }
    #description {
        display: none;
    }

    #emploi {
        width: calc(100% - 40px);
        margin: 0 20px;
    }
    #emploi-title-container {
        #emploi-title {
            width: 100%;
            text-align: center;
        }

        #emploi-buttons {
            display: none;
        }
    }

    #description-mobile {
        display: block;
    }

    #emploi-infos {
        display: block;
        padding: 20px 0;

        .emploi-info-part {
            width: 100%;
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    #emploi-details {
        padding-top: 30px;
    }

    #button-mobile-container {
        margin-top: 20px;
        height: 70px;
        width: 100%;
        padding: 0 40px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color: var(--blanc-casse);

        position: sticky;
        bottom: 0;

        #button-mobile {
            display: flex;
            align-items: center;
            cursor: pointer;
    
            margin: 0 auto;
    
            height: 45px;
            padding: 0 40px;
            // padding: 10px 40px;
    
            border: none;
            border-radius: 30px;
    
            font-family: var(--montserrat-regular);
            letter-spacing: 0.5px;
    
            color: var(--Ivory_White);
            background-color: var(--bleu-fonce);
        }

        #button-mobile-share, #button-mobile-mail {
            height: 25px;
        }
        
        svg {
            height: 100%;
        }
    }
}






/* Var */
:root {
    /* colors */

    --white: #D8D8D8;
    --Ivory_White: #FDFDFD;
    --black: #4d504a;

    --noir-bleu: #002845;
    --blanc-casse: #F8F9FC;

    --bleu-fonce: #1E3E89;
    --bleu-gris: #CDDBF4;
    --bleu-clair: #E6FBFF;

    --vert-medical: #1ABAB9;


	--Charcoal_Gray: #333333;

	--grey_border: #e1e1e1;
	--grey: #84847C;


    /* fonts */
    --multi: Multi;

    --montserrat-medium: Montserrat-Medium;
    --montserrat-regular: Montserrat-Regular;
    --montserrat-light: Montserrat-Light;
    --montserrat-semibold: Montserrat-SemiBold;
    --montserrat-bold: Montserrat-Bold;
    --montserrat-extrabold: Montserrat-ExtraBold;

    --nobia-regular: Nobia-regular;
    --pacifico: Pacifico;
    --poppins-md: PoppinsMd;
}