// style

body {
    position: relative;
    background-color: var(--blanc-casse);
}

#bg-color {
    height: 100dvh;
    width: 100vw;
    position: fixed;
    object-fit: cover;

    z-index: -100;
}

// ------------------------ nav ------------------------------
@media (min-width: 992px) {
    nav {
        background: transparent !important;
    }
    #nav_marque {
        margin-bottom: -11px !important;
    }
}
// ------------------------------------------------------------

main {
    font-family: var(--montserrat-regular);
    color: var(--black);

    width: 100%;
}


// ---------------------------- Pourquoi Notre appareil  ------------------------
#pourquoi-app {
    padding: 50px;
    background-color: var(--blanc-casse);
}
#pourquoi-title {
    padding-bottom: 20px;
    margin: 0;
    
    font-size: 30px;
    font-family: var(--montserrat-bold);
    text-align: center;
    color: var(--noir-bleu);

    // background-color: green;
}

#pourquoi-text {
    font-size: 18px;
    line-height: 35px;
    font-family: var(--montserrat-regular);
    color: var(--black);
}

#pourquoi-video {
    margin: 0 auto;
    margin-top: 50px;
    width: 100%;
    max-width: 700px;

    // background-color: blue;

    iframe {
        width: 100%;
        aspect-ratio: 1.79;

        // background-color: violet;
    }
    i {
        padding-top: 10px;
        display: block;
        text-align: center;
    }
}

@media (max-width: 850px) {
    #pourquoi-app {
        padding: 50px 20px;
    }
}

// ---------------------------- Notre appareil  ------------------------
#appareil {
    padding: 50px;
    background-color: var(--Ivory_White);
}

#appareil-title {
    display: none;
    padding-bottom: 20px;
    margin: 0;
    
    font-size: 30px;
    font-family: var(--montserrat-bold);
    text-align: center;
    color: var(--noir-bleu);

    // background-color: green;
}

#appareil-infos {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: stretch;
}

#appareil-text {
    width: 60%;
    margin-right: 100px;
    // background-color: violet;

    h2 {
        padding-bottom: 30px;
        margin: 0;
        
        font-size: 30px;
        font-family: var(--montserrat-bold);
        color: var(--noir-bleu);
    }

    p {
        font-size: 18px;
        line-height: 35px;
        font-family: var(--montserrat-regular);
        color: var(--black);

        // background-color: green;
    }
}

#appareil-img {
    width: 40%;
    display: flex;
    align-items: center;

    img {
        width: 100%;
        aspect-ratio: 1;
    }
}

@media (max-width: 850px) {
    #appareil {
        padding: 50px 20px;
    }
    #appareil-title {
        display: block;
    }
    #appareil-text h2 {
        display: none;
    }

    #appareil-infos {
        // background-color: green;
        flex-direction: column-reverse;
    }
    #appareil-img {
        width: 100%;
        margin: 30px 0;
    }
    #appareil-text {
        width: 100%;
    }
}

// ---------------------------- Hero section ------------------------

#bg-home {
    position: absolute;
    height: 100svh;    
    width: 100%;

    background-color: black;

    z-index: -10;

    top: 0;
    left: 0;

    display: flex;


    .bg-home-element {
        height: 100%;
        display: flex;
        align-items: center;
        width: 100%;

        opacity: 0.8;

        overflow: hidden;

        img {
            height: 100%;
            min-width: 500px;
            width: 100%;
            object-fit: cover;
            margin-right: auto;
        }
    }
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    height: calc(100svh - 70px);
    min-height: 450px;
    width: 100%;

    // background-color: red;


    .title-container {
        flex-grow: 1;
        display: none;
        opacity: 0;

        // display: flex !important;
        flex-direction: column;
        justify-content: space-between;
    
        margin-left: 40px;
        margin-bottom: 60px;

        // background-color: blue;


        .title1 {
            font-family: var(--montserrat-regular);
            font-size: 25px;
            font-style: italic;

            text-align: start;

            margin: 0;
            margin-bottom: 30px;

            color: white;
        }

        .title2 {
            font-family: var(--montserrat-regular);
            font-size: 20px;
            font-style: italic;
            
            text-align: start;
            text-transform: uppercase;

            margin: 0;

            color: white;
        }
    }
}

// when nav bar becomes mobile
@media (max-width: 992px) {
    #bg-home {
        top: 70px;
        height: calc(100svh - 70px);
        transition: left 0.5s;
    }
    header {
        height: calc(100svh - 70px);
    }
}
// carousel becomes small (go to mobile)
@media (max-width: 650px) {
    header {
        display: block;

        .title-container {
            height: 100%;
            margin: 0;

            padding: 50px 20px;

            .title1 {
                font-size: 25px;   
                margin: 0;
                text-align: center;
            }
            .title2 {
                text-transform: none;
                font-size: 22px;   
                text-align: center;
                word-spacing: 0.5rem;
            }
        }
    }
}

// carousel becomes even smaller
@media (max-width: 500px) {
    header .title-container .title1 {
        font-size: 22px;
    }
    header .title-container .title2 {
        font-size: 18px;
    }
}

// ------------------------------- APP DISPONIBLE -------------------
#app-dispo-container {
    width: 100%;
    background: linear-gradient(-45deg, var(--Ivory_White), #5c7ecb);
}
#app-dispo {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 50px;


    display: flex;
    justify-content: center;
    align-items: stretch;
}

#app-phone {
    height: 400px;
    width: 40%;
    margin-right: 50px;
    // background-color: blue;

    img {
        display: block;
        margin: 0 auto;
        height: 100%;
        aspect-ratio: 0.6;
        // object-fit: cover;
    }
}

#app-details {
    // height: 100%;
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    // background-color: red;
}

.app-details-text {
    // background-color: green;

    h2 {
        margin: 0;

        font-size: 30px;
        font-family: var(--montserrat-bold);

        text-align: center;
        color: var(--noir-bleu);
    }

    p {
        margin: 15px 0;

        text-align: center;
        font-size: 25px;
        font-family: var(--montserrat-bold);
        color: var(--noir-bleu);
    }
}

.app-buttons {
    flex-grow: 1;
    width: 100%;
    max-width: 400px;

    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    // background-color: violet;


    .app-button {
        height: 50px;

        // background-color: #1ABAB9;

        img {
            height: 100%;

            display: block;
            margin: 0 auto;

            cursor: pointer;
        }
    }
}

#app-details-text-mobile, #app-buttons-mobile {
    display: none;
}

@media(max-width: 800px) and (min-width: 651px) {
    #app-details {
        .app-buttons {
            flex-direction: column;
            justify-content: center;

            .app-button {
                margin: 10px 0;
            }
        }
    }
}

@media(max-width: 650px) {
    #app-dispo {
        flex-direction: column;
        padding: 50px 20px;
    }

    #app-phone {
        width: 100%;
        margin: 80px auto;
    }

    #app-details {
        .app-details-text {
            display: none;
        }
        .app-buttons {
            display: none;
        }
    }
    #app-details-text-mobile {
        display: block;

        h2 {
            font-size: 25px;
        }
        p {
            margin-bottom: 0;
            font-size: 18px;
        }
    }
    #app-buttons-mobile {
        display: flex;
        height: 45px;
        max-width: 320px;
        margin-top: 20px;


        .app-button {
            height: 100%;
        }
    }
}

@media (max-width: 360px) {
    #app-buttons-mobile {
        height: auto;

        flex-direction: column;
        justify-content: center;

        .app-button {
            height: 50px;
            margin: 15px 0;
        }
    }
}




/* Var */
:root {
    /* colors */

    --white: #D8D8D8;
    --Ivory_White: #FDFDFD;
    --black: #4d504a;

    --noir-bleu: #002845;
    --blanc-casse: #F8F9FC;

    --bleu-fonce: #1E3E89;
    --bleu-gris: #CDDBF4;
    --bleu-clair: #E6FBFF;

    --vert-medical: #1ABAB9;


	--Charcoal_Gray: #333333;

	--grey_border: #e1e1e1;
	--grey: #84847C;


    /* fonts */
    --multi: Multi;

    --montserrat-medium: Montserrat-Medium;
    --montserrat-regular: Montserrat-Regular;
    --montserrat-light: Montserrat-Light;
    --montserrat-semibold: Montserrat-SemiBold;
    --montserrat-bold: Montserrat-Bold;
    --montserrat-extrabold: Montserrat-ExtraBold;

    --nobia-regular: Nobia-regular;
    --pacifico: Pacifico;
    --poppins-md: PoppinsMd;
}