// styles
body {
    width: 100%;
    background-color: var(--blanc-casse);
}

#bg-color {
    height: 100dvh;
    width: 100vw;
    position: fixed;
    object-fit: cover;

    z-index: -100;
}

main {
    padding: 0 50px;
}

// -------- title -------------
header {
    display: flex;
    justify-content: center;
}
#title {
    position: relative;
    width: auto;
    margin: 0 auto;
    margin-bottom: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 200px;


    #circles {
        position: absolute;
        display: flex;
        align-items: center;
        height: 50%;
        z-index: -1;

        svg {
            height: 100%;
        }
    }

    h1 {
        font-size: 25px;
        font-family: var(--montserrat-bold);
        font-weight: bold;
        color: var(--bleu-fonce);

        margin: 0;
        margin-left: 50px;
        margin-bottom: -20px;
    }
}

@media (max-width: 500px) {
    #title {
        height: 130px;

        h1 {
            font-size: 20px;
            margin-left: 30px;
            margin-bottom: -10px;
        }
    }
}


// ------- offres -----------
#offres {
    width: 100%;

    // background-color: blue;
}

.offre {
    width: 100%;
    max-width: 1000px;
    min-height: 250px;

    margin: 50px auto;
    padding: 30px 40px;

    border-radius: 50px;

    background-color: var(--bleu-gris);

    display: flex;
    flex-direction: column;

    box-shadow: 3px 3px 7px #9d9d9d;
}

.offre-title {
    padding-bottom: 10px;
    padding-right: 10px;
    
    font-size: 25px;
    font-family: var(--montserrat-semibold);
    color: var(--noir-bleu);
    
    margin: 0;

    // background-color: violet;
}

.offre-details {
    flex-grow: 1;

    font-family: var(--montserrat-regular);
    font-size: 18px;

    margin: 0;
    padding: 10px 0;

    color: var(--black);

    // background-color: orange;
}

.offre-button-container {
    width: 100%;

    margin-top: auto;
    padding-top: 10px;

    // background-color: green;


    .offre-button {
        display: block;
        cursor: pointer;

        margin-left: auto;
        padding: 10px 40px;

        border: none;
        border-radius: 30px;

        font-family: var(--montserrat-regular);
        letter-spacing: 0.5px;

        color: white;
        background-color: var(--bleu-fonce);
    }
}

.offre-plus-container {
    display: flex;
    justify-content: center;

    padding-bottom: 50px;

    // background-color: red;

    p {
        margin: 0;

        text-align: center;
        text-decoration: underline;

        cursor: pointer;

        color: var(--bleu-fonce);

        // background-color: green;
    }

    p:active {
        color: var(--noir-bleu);
    }
}



@media (max-width: 500px) {
    main {
        padding: 0 20px;
    }
    .offre {
        padding: 25px 30px;
        border-radius: 30px;
    }

    .offre-title {
        font-size: 20px;
    }

    .offre-details {
        font-size: 15px;
    }
    .offre-button-container {
        .offre-button {
            padding: 10px 35px;
        }
    }
}


// PS : MUST DISABLE SELECTING BACKGROUND IMAGE












/* Var */
:root {
    /* colors */

    --white: #D8D8D8;
    --Ivory_White: #FDFDFD;
    --black: #4d504a;

    --noir-bleu: #002845;
    --blanc-casse: #F8F9FC;

    --bleu-fonce: #1E3E89;
    --bleu-gris: #CDDBF4;
    --bleu-clair: #E6FBFF;

    --vert-medical: #1ABAB9;


	--Charcoal_Gray: #333333;

	--grey_border: #e1e1e1;
	--grey: #84847C;


    /* fonts */
    --multi: Multi;

    --montserrat-medium: Montserrat-Medium;
    --montserrat-regular: Montserrat-Regular;
    --montserrat-light: Montserrat-Light;
    --montserrat-semibold: Montserrat-SemiBold;
    --montserrat-bold: Montserrat-Bold;
    --montserrat-extrabold: Montserrat-ExtraBold;

    --nobia-regular: Nobia-regular;
    --pacifico: Pacifico;
    --poppins-md: PoppinsMd;
}