// styles
body {
    width: 100%;

    background-image: url(/static/img/bg-with-colors.svg);
    background-repeat: repeat-y;
    background-size: cover;
}

#bg-color {
    height: 100dvh;
    width: 100vw;
    position: fixed;
    object-fit: cover;

    z-index: -100;
}

main {
    padding: 0 50px;
}

// -------- title -------------
header {
    display: flex;
    justify-content: center;
}
#title {
    position: relative;
    width: auto;
    margin: 0 auto;
    margin-bottom: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 200px;


    #circles {
        position: absolute;
        display: flex;
        align-items: center;
        height: 50%;
        z-index: -1;

        svg {
            height: 100%;
        }
    }

    h1 {
        font-size: 25px;
        font-family: var(--montserrat-bold);
        font-weight: bold;
        color: var(--bleu-fonce);

        margin: 0;
        margin-left: 50px;
        margin-bottom: -20px;
    }
}

@media (max-width: 500px) {
    #title {
        height: 130px;

        h1 {
            font-size: 20px;
            margin-left: 30px;
            margin-bottom: -10px;
        }
    }
}


// ------- offres -----------
#offres {
    width: 100%;

    // background-color: blue;
}

.offre {
    width: 100%;
    max-width: 1000px;
    min-height: 250px;

    margin: 50px auto;
    padding: 30px 40px;

    border-radius: 50px;

    background-color: var(--bleu-tres-clair);

    display: flex;
    flex-direction: column;
}

.offre-title {
    padding-bottom: 10px;
    padding-right: 10px;
    
    font-size: 25px;
    font-family: var(--montserrat-semibold);
    color: var(--bleu-fonce);
    
    margin: 0;

    // background-color: violet;
}

.offre-details {
    flex-grow: 1;

    font-family: var(--montserrat-regular);
    font-size: 18px;

    margin: 0;
    padding: 10px 0;

    color: var(--black);

    // background-color: orange;
}

.offre-button-container {
    width: 100%;

    margin-top: auto;
    padding-top: 10px;

    // background-color: green;


    .offre-button {
        display: block;
        cursor: pointer;

        margin-left: auto;
        padding: 10px 40px;

        border: none;
        border-radius: 30px;

        font-family: var(--montserrat-regular);
        letter-spacing: 0.5px;

        color: var(--white-pure);
        background-color: var(--bleu-clair);
    }
}

.offre-plus-container {
    display: flex;
    justify-content: center;

    padding-bottom: 50px;

    // background-color: red;

    p {
        margin: 0;

        text-align: center;
        text-decoration: underline;

        cursor: pointer;

        color: var(--bleu-fonce);

        // background-color: green;
    }

    p:active {
        color: var(--black);
    }
}



@media (max-width: 500px) {
    main {
        padding: 0 20px;
    }
    .offre {
        padding: 25px 30px;
        border-radius: 30px;
    }

    .offre-title {
        font-size: 20px;
    }

    .offre-details {
        font-size: 15px;
    }
    .offre-button-container {
        .offre-button {
            padding: 10px 35px;
        }
    }
}


// PS : MUST DISABLE SELECTING BACKGROUND IMAGE












/* Fonts */

@font-face {
    font-family: PoppinsMd;
    src: url(/static/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: Pacifico;
    src: url(/static/fonts/Pacifico/Pacifico-Regular.ttf);
}

@font-face {
    font-family: Nobia-regular;
    src: url(/static/fonts/Nobia/Nobia\ Regular.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(/static/fonts/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(/static/fonts/Montserrat/static/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat-Light;
    src: url(/static/fonts/Montserrat/static/Montserrat-Light.ttf);
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(/static/fonts/Montserrat/static/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(/static/fonts/Montserrat/static/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Multi;
    src: url(/static/fonts/Multi/MultiText-Regular.otf);
}

/* Var */
:root {
    /* colors */
    --white-pure: #FFFFFF;

    --white: #D8D8D8;
    --black: #4d504a;
    --gris: #C3D2E1;

    --bleu-fonce: #1E3E89;
    --bleu-clair: #7FCCF0;
    --bleu-tres-clair: #CDDBF4;


    /* fonts */
    --multi: Multi;
    --montserrat-medium: Montserrat-Medium;
    --montserrat-regular: Montserrat-Regular;
    --montserrat-light: Montserrat-Light;
    --montserrat-semibold: Montserrat-SemiBold;
    --montserrat-bold: Montserrat-Bold;
    --nobia-regular: Nobia-regular;
    --pacifico: Pacifico;
    --poppins-md: PoppinsMd;

    // others
    --padding-glob: 40px;
}